apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: storage-backup
  namespace: longhorn-system
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: oci-store
    kind: SecretStore
  target:
    name: storage-backup
    creationPolicy: Owner
  data:
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: plat-fra-prod-storage-backup
        property: AWS_ACCESS_KEY_ID
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: plat-fra-prod-storage-backup
        property: AWS_SECRET_ACCESS_KEY
    - secretKey: AWS_ENDPOINTS
      remoteRef:
        key: plat-fra-prod-storage-backup
        property: AWS_ENDPOINTS
